{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>DW</title>
	<meta charset="utf-8">
	
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	
	<script src="{% static 'node_modules/chart.js/dist/Chart.js' %}"></script>
	
	<style>
		h1 {
			font-family: "Lucida Console", Courier, monospace !important;
			text-align: center;
			font-size: 2.2rem !important;
		}
		.row {
			margin-left: auto !important;
			margin-right: auto !important;
			width: 80% !important;
		}
	</style>
</head>
<body>
	<div class="flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" style="background-color: #d9d9d9 !important">
		<h1 class="my-0 mr-md-auto">Teste - Desenvolvimento Web</h1>	
	</div>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md">
				<h3>Gráfico Número de Casos por Doença</h3>
				<div class="card shadow-sm">
					<div class="card-body align-items-start">
						<canvas id="myChart1"></canvas>
					</div>
				</div>
			</div>
		</div>
		<br>
		<br>
		<div class="row">
			<div class="col-md">
				<h3>Gráfico Número de Casos por Cidade</h3>
				<div class="card shadow-sm">
					<div class="card-body align-items-start">
						<canvas id="myChart2"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
	
<script>

var ctx = document.getElementById('myChart1').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: [{% for d in doe %}'{{d.nome}}',{% endfor %}],
        datasets: [{
            label: 'Número de casos por doença',
            backgroundColor: 'rgb(32,178,170)',
            borderColor: 'rgb(32,178,170)',
            data: [{% for k, v in row %}
					{% if '{{v}}' > '0' %}
						'{{v}}',
					{% else %}
						'0',
					{% endif %}
			{% endfor %}],
        }]
    },

    // Configuration options go here
    options: {
		scales: {
            yAxes: [{
                ticks: {
                    suggestedMin: 0,
                    suggestedMax: 10
                }
            }]
        }
	}
});

var ctx2 = document.getElementById('myChart2').getContext('2d');
var chart2 = new Chart(ctx2, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: [{% for c in cid %}'{{c.nome}}',{% endfor %}],
        datasets: [{
            label: 'Número de casos por cidade',
            backgroundColor: 'rgb(34,139,34)',
            borderColor: 'rgb(32,178,170)',
            data: [{% for k, v in row2 %}
					{% if '{{v}}' > '0' %}
						'{{v}}',
					{% else %}
						'0',
					{% endif %}
			{% endfor %}],
        }]
    },

    // Configuration options go here
    options: {
		scales: {
            yAxes: [{
                ticks: {
                    suggestedMin: 0,
                    suggestedMax: 10
                }
            }]
        }
	}
});

</script>

</html>